.cart-side {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    margin-top: 40px;
}

.cart-total {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;

    // h2 {
    //     color: white;
    // }
}

.cart-button {
    display: block !important;
    margin: 30px auto !important;
}

.cart-item {
    width: 90%;
    margin: 20px auto;

    h3 {
        color: #000000cc;
        margin: 0;
    }

    h4 {
        color: #0000007a;
        margin: 0;
    }
}

.empty-cart-segment {
    width: 90%;
    margin: 0 auto !important;
}

.cart-item-container {
    padding-left: 15px !important;
}