.contact-container {

    @include md {
        width: 80% !important;
    }

    .contact-button {
        margin-top: 25px !important;
        background-color: #34b49f !important;
        color: white !important;
    }
}