.summary-drop {

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    background-color: #de03270f !important;

    @include md {
        width: 80% !important;
        margin: 20px auto;
    }

    .summary-content {
        width: 85%;

        .shipping-message {
            color:red;
            font-style: italic;
            text-align: center;
        }

        .active-container {
            width: 119%;

            .discount-container {

                .invalid {
                    color: #de0024a1;
                    text-align: center;
                    margin-top: 10px;
                }
            }
        }
    }

    .summary-title {
        color: red;
        border-top: none !important;
    }

    .item-data-container {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    
        .item-group-name-size {
            display: flex;
            flex-direction: column;
    
            h3 {
                color: black;
                margin: 0;
            }
            span {
                color: grey; 
            }
        }
    
        h4 {
            margin: 0
        }
    }
}

.paypal-box {
    display: flex;
    justify-content: center;
    margin: 30px 0;

    @include md {
        width: 70%;
        margin: 0 auto;
    }
}

.discount-code {
    display: flex;
    justify-content: center;
}

.cart-totals {
    display: flex;
    flex-direction: column;

    section {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .freeshipping {
        color: #4c8806;
    }
}

.payment-complete {

    .top-items {
        color: #717171;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;

        p {
            color: #848282;
            margin: 0;
            margin-right: 4px;
            font-size: 2rem;
        }
    }

    .payment-complete-info {

        @include md {
            width: 70% !important;
        }

        span {
            color: #2196F3;
        }
    
        p:nth-child(1) {
            padding: 20px;
            text-align: center;
            font-size: 1.1rem;
        
        }
    
        p:nth-child(2) {
            color: #ff5722;
            background-color: beige;
            padding: 20px;
            line-height: 1.5;
            border-radius: 10px;
            font-size: 1.1rem;
        }
    }


}

.payment-loader {
    margin: 30px auto 0px;
    // z-index: 2;
    // position: absolute !important;
    // top: 90%;   
    // left: 40%;

    // @include md {
    //     top: 73%;
    //     left: 44%;
    // }
}

// .loader-box {
//     height: 200px;
// }