.faq-container {

    @include md {
        width: 80% !important;
    }

    @include lg {
        width: 50% !important;
    }

    p {
        line-height: 1.7;
        color: #7d7d7d;


        span {
            background-color: #fece04;
            font-style: italic;
        }
    }
}