.gall-header {
    text-align: center;
    margin-top: 30px !important;

    @include lg {
        font-size: 3rem !important;
    }
}


.gallery {
    display: flex !important;
    flex-direction: column;

    @include lg {
        flex-direction: row;
        justify-content: space-evenly;
    }

    div {

        @include lg {
            width: 40%;
        }
    }

    img {
        margin: 25px 0;
        
        // @include lg {
        //     width: 40%;
        // }
    }
}

.gall-button {
    width: 70% !important;
    margin: 30px auto 0px !important;
    height: 80px;
    font-size: 30px !important;
    padding: 0 0 !important;
}