.history-container {

    p {
        color: #716f6f;
        line-height: 1.7;
        font-size: 1.1rem;

    }

    .quote {
        color: blueviolet;
        background: #ffeb3b59 !important;
    }
}