nav {

    display: flex !important;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;

    @include lg {
        justify-content: center;
    }

    .hamburger {

        @include lg {
            display: none !important;
        }
    }

    img {
            
        @include md {
            width: 220px !important;
        }
    }

    .nav-group-middle {
        display: none;

        @include lg {
            display: block;
            width: 50%;
        }

        ul {
    
            @include lg {
                list-style: none;
                width: 100%;
                display: flex;
                justify-content: center;
                padding-left: 0;
            }
        }

        ul li {
            display: inline-block;
            text-transform: uppercase;
            font-size: 1.2rem;
            margin-right: 40px;
        }

        ul li a {
            color: black;
        }
    }
}

.cart-sidebar {
    width: 320px !important;
    // width: 90% !important;
}

.cart-icon {
    cursor: pointer;
}