.price-quanity {

    display: flex;
    align-items: baseline;
    // justify-content: space-evenly;
    justify-content: center;

    .quanity-drop {
        width: 40% !important;
        margin-right: 20px;

        @include md {
            width: 20% !important;
        }
    }
}

.label-sizes {
    display: block !important;
    border: none !important;
    margin: -15px !important;
    text-align: center;
    // margin-top: 0px !important;
    // margin-bottom: 0px !important;
    // width: 36%;
}

.all-btn-sizes {

    display: flex;
    justify-content: center;
    margin: 20px 0;
    
    @include md {
        flex-wrap: wrap;
    }

    .button-sizes {
        width: 40%;
        
        @include md {
            width: 33%;
            margin-bottom: 10px !important;
        }
    }
}

.add-cart-button {
    // margin: 30px auto !important;
    margin: 20px auto !important;
    width: 80%;
    display: block !important;

    @include md {
        width: 50%;
    }
}

.navigate-menu {
    display: flex;
    justify-content: center;
    margin: 5px 0;

    .shop-link {
        color: #005ac8ab;
        margin-right: 10px;
    }
}

.back-story {
    background-color: #98d9ce73 !important;
    margin-top: 40px !important;
}

.pics-bottom {
    color: red;
    display: flex;
    flex-direction: column;

    img {
        margin: 25px 0
    }
}

.fade-in {
    animation: fadeIn ease 15s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.sizing-img {
    width: 60%;
    margin: 0 auto;
}
