.price-quanity {

    display: flex;
    align-items: baseline;
    // justify-content: space-evenly;
    justify-content: center;

    .quanity-drop {
        width: 40% !important;
        margin-right: 20px;

        @include md {
            width: 20% !important;
        }
    }
}

.label-sizes {
    display: block !important;
    border: none !important;
    margin: -15px !important;
    text-align: center;
    // margin-top: 0px !important;
    // margin-bottom: 0px !important;
    // width: 36%;
}

.all-btn-sizes {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
    flex-direction: row;
    width: 100%;
    
    @include sm {
        flex-wrap: nowrap;
    }

    @include lg {
        flex-wrap: wrap;
    }

    .button-sizes {
        padding: 10px 5px !important;
        width: 100%;
        margin: 0 0 !important;

        // @include sm {
        //     width: 15%;
        // }
        
        // @include md {
        //     width: 15%;
        //     padding: 15px 0px !important;
        // }

        // @include lg {
        //     width: 25%;
        // }
    }

    .buttons-quantity {
        width: 45%;
        height: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;

        p {
            color: #ee7b8e;
            font-size: 0.9rem;
            margin-top: 2px;
        }
    }
}

.add-cart-button {
    // margin: 30px auto !important;
    margin: 20px auto !important;
    width: 80%;
    display: block !important;

    @include md {
        width: 50%;
    }
}

.navigate-menu {
    display: flex;
    justify-content: center;
    margin: 5px 0;

    .shop-link {
        color: #005ac8ab;
        margin-right: 10px;
    }
}

.back-story {
    background-color: #98d9ce73 !important;
    margin-top: 40px !important;

    @include lg {
        text-align: center;
        width: 80%;
        margin: 40px auto !important;
    }
}

.pics-bottom {
    display: flex;
    flex-direction: column;

    @include lg {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .pics-bottom-right {
        
        @include lg {
            color: red;
            display: flex;
            flex-direction: column;
            width: 50%;
            align-items: center;
        }

        img {
            
            @include lg {
                width: 95%;
            }
        }
    }

    img {
        margin: 25px 0;

        @include lg {
            width: 43%;
        }
    }
}

.fade-in {
    animation: fadeIn ease 15s;
}

.bottom-buttons {
    
    @include lg {
        flex-wrap: nowrap;
        width: 90%;
        margin: 0 auto;
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.sizing-img {
    width: 60%;
    margin: 0 auto;
}

.flex-container-desktop {

    @include lg {
        display: flex;
        justify-content: space-around;
    }

    .image-gallery {

        @include lg {
            width: 60%;
            margin: 0 auto;
        }

    }

    .product-selection {

        @include lg {
            width: 30% !important;
        }
    }
}

.what-is-your {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
}
